body {
    background-color: rgba(165, 42, 42, .8);
}

.mf-container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content-page {
    color: white;
    background-color: rgba(165, 42, 42, .8);
    width: 50%;
    padding: 20px;
}

form {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
form button {
    align-self: flex-end;
}

.number {
    width: 50%;
    margin-bottom: 40px;
}

.checkbox {
    width: 50%;
    padding-left: 90px;
    margin-bottom: 40px;
}
.radio {
    width: 100%;
    text-align: end;
}